
*.v2
*.editorconfig
*.vsidx
HogeschoolPXL/HogeschoolPXL/obj/HogeschoolPXL.csproj.nuget.dgspec.json
HogeschoolPXL/HogeschoolPXL/obj/project.assets.json
HogeschoolPXL/HogeschoolPXL/obj/project.nuget.cache
HogeschoolPXL/HogeschoolPXL/obj/project.nuget.cache
HogeschoolPXL/HogeschoolPXL/obj/project.assets.json
HogeschoolPXL/HogeschoolPXL/obj/HogeschoolPXL.csproj.nuget.dgspec.json
HogeschoolPXL/HogeschoolPXL/obj/Debug/net6.0/HogeschoolPXL.GeneratedMSBuildEditorConfig.editorconfig
