@{
    ViewData["Title"] = "Home Page";
    
}
@model IEnumerable<HogeschoolPXL.Models.Inschrijving>


 <form>
     <p> zoeken :  <input type="text" class="" placeholder="vak" aria-label="Vak" aria-describedby="basic-addon1">
      </p>
    </form>
    
    
<Student></Student>


