@{
    ViewData["Title"] = "Home Page";
    
}
@model IEnumerable<HogeschoolPXL.Models.Inschrijving>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

    
    
<Student></Student>


