html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.course-org-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-column-gap: 1.875rem;
}
p.midden{
    margin:5px;
}
.search {
    display: flex;
    margin: 0px 0;
}
.groteImg{
    height:50px
}
.login-center {
    /*display:flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 95%;
    width: auto;
    transform: translate(-50%, 0%);
    padding: 3%;
    background:rgb(33, 37, 41);
    border-radius: 5%;

}
 .lijn{
     display:block;
 }
.login-container {
    color: white;
    width: 350px;
}

.input-login{
    border: none;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: GRAY;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
    border-radius: 0.7rem;
}
.h1-center{
    text-align: center;
}
.login-button {
    border-radius: 100px;
    width: 100%;
    margin-top: 19px;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    box-shadow: 0 9px #999;

}
.login-button:hover {background-color: rgba(0, 0, 0, 0.36);
    color: white;

}

.login-button:active {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.control-label{
    font-size: 20px;
}

.register-center {
    position: absolute;
    top: 15%;
    left: 50%;
    max-width: 95%;
    width: auto;
    transform: translate(-50%, 0%);
    padding: 3%;
    background: rgb(33, 37, 41);
    border-radius: 5%;
}.info-container{
     display: flex;
     flex-direction:row;
     flex-wrap:nowrap;

 }
.div-links {
    width: 25%;
}
.rechts{
    display:flex;
    flex-direction:column;
    width:74%;
    border-left: solid 1px gray;
    margin-left:30px;
    padding-left:15px;
    height:500px

}
.div-container{
    display:flex;
}
.lector {
    width: 100%;
}
@media only screen and (max-width:  1600px) {
  
    .register-center {
        top: 5%;
        margin-bottom: 5px;
        margin-top: 5px;
        background: rgb(33 37 41 / 0%);
        color: black;
    }
    .login-container {
        color: black;
       
    }
    .login-center {
        top:20%;
        background: rgb(33 37 41 / 0%);
        color: black;
    }
     .lijn{
         display:none;
     }

}