@page
    
@model HogeschoolPXL.Views.Portfolio.PortfolioModel
@{
}

<div class="container">
  <div class="skull">
    <div class="eye"></div>
    <div class="eye"></div>
    <div class="nose"></div>
    hey ik heb mijn project aan ga pakt via chkafholdign van de controller en de vieuws en een zelf gemaakt de inlog scherm voor wat variatie 
    ik heb ook controles uitgevoert waar ik kon voor geen dubbel dingen te krijgen. maar ik kan er nog veel meer tijd in steken voor het beter te maken .
  </div>
  <div class="teeth">
  <div class="tooth"></div>
  <div class="tooth"></div>
  <div class="tooth"></div>
  <div class="tooth"></div>
  </div>
  <div class="bones">
    <div class="bone">
      <div class="bone-inner"></div>
      <div class="bone-inner"></div>
    </div>
    <div class="bone">
      <div class="bone-inner"></div>
      <div class="bone-inner"></div>
    </div>
  </div>
</div>

