@page
    
@model HogeschoolPXL.Views.Portfolio.PortfolioModel
@{
}
<div class="container">
  <div class="skull">
    <div class="eye"></div>
    <div class="eye"></div>
    <div class="nose"></div>
  </div>
  <div class="teeth">
  <div class="tooth"></div>
  <div class="tooth"></div>
  <div class="tooth"></div>
  <div class="tooth"></div>
  </div>
  <div class="bones">
    <div class="bone">
      <div class="bone-inner"></div>
      <div class="bone-inner"></div>
    </div>
    <div class="bone">
      <div class="bone-inner"></div>
      <div class="bone-inner"></div>
    </div>
  </div>
</div>

